$turquesa: #459BD0;
$turquesa-hover: #4287F6;
$azul-oscuro: #2D3E50;
$rosado: #F5548E;
$rosado-hover: #F83079;

.navbar-default{
	background-color: $azul-oscuro;
	border-bottom: 3px solid #459BD0;
	padding: 1.2%;

	.navbar-brand img{
		width: 15%;
		margin-top: -15px;

	}

	.navbar-brand, .navbar-nav>li>a{
		color:#fff;
	}

	.navbar-brand:hover, .navbar-nav>li>a:hover{
		color: $turquesa;
	}
}

#sidebar-wrapper{
	background-color: $azul-oscuro;

	.sidebar-nav li a {
		color: #fff;
	}

	.sidebar-nav li a:hover {
		color: #ccc;
	}

	.sidebar-nav li {
		text-indent: 9px;
	}
}

.navbar-default {
	color: $azul-oscuro;
}

.contenido{
	padding: 3% 7% 3% 2%;
}

.txt-rosado{
	color:$rosado;
}

.txt-turquesa{
	color: $turquesa;
}

.pb-3{
	padding-bottom: 3%;
}

.mb-2{
	margin-bottom: 2%;
}

.comment {
    padding: 3% 3%;
    background-color: #DEE0E3;
    color: #3b4657;
    margin-bottom: 2%;
}
.btn-rosa, .btn-rosa:hover, .btn-turquesa, .btn-turquesa:hover {
	color: #fff;
	border-color: transparent;
	font-size: 18px;
}

.btn-rosa {
	background-color: $rosado;	
}

.btn-rosa:hover {
	background-color: $rosado-hover;	
}

.btn-turquesa {
	background-color: $turquesa;	
}

.btn-turquesa:hover {
	background-color: $turquesa-hover;	
}

h2{
	margin-bottom: 20px;
}