$turquesa: #42A5F5;
$turquesa-hover: #4287F6;
$azul-oscuro: #35384C;

.hero-img{
	padding: 3% 0%;
	font-family: 'Lato', sans-serif;
}

p{
	font-family: 'Merriweather', serif;
}

.select-teacher{
	padding: 3% 0%;
}